{% extends 'top.html' %}


{% block title %}
View {% if table_index == 0 %}Teacher{% elif table_index == 1 %}Student{% else %}Class{% endif %}
{% endblock %}

{% block location %}
{% if table_index == 0 %}
<li class="breadcrumb-item"><a href="/teachers">Teachers</a></li>
{% elif table_index == 1 %}
<li class="breadcrumb-item"><a href="/students">Students</a></li>
{% else %}
<li class="breadcrumb-item"><a href="/classes">Classes</a></li>
{% endif %}
{% endblock %}

{% block content %}
<section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <!-- general form elements -->
          <div class="card card-dark">
            <div class="card-header">
              <h3 class="card-title">{% if table_index == 0 %}Teacher{% elif table_index == 1 %}Student{% else %}Class{% endif %} Details</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            {% if table_index == 2 %}
            <form autocomplete="off">
              <div class="card-body">
                <div class="form-group">
                  <label for="name">Title</label>
                  <input type="text" class="form-control" name="title" placeholder="Enter title" value="{{table.name}}" required readonly>
                </div>
                <div class="form-group">

                    <label>Select Class Type</label>
                    <select class="form-control select2 select2-danger" readonly name="class-type" data-dropdown-css-class="select2-danger">
                      <option selected="selected">{{table.course_type}}</option>

                    </select>
                </div>
                <div class="form-group">

                    <label>Select Teacher</label>
                    <select class="form-control select2 select2-danger" readonly name="teacher" data-dropdown-css-class="select2-danger">
                      <option selected="selected" value="{{table.teacher_id}}">{{tobj.query.get_or_404(table.teacher_id).name}}</option>
                    </select>
                  <h6 class="m-2"><sup><a href="/view/{{table.teacher_id}}">View Teacher</a></sup></h6>
                </div>

                <div class="form-group">
                    <label>Details</label>
                    <textarea class="form-control" readonly name="details" style="height:100;min-height: 100;max-height: 150px;" placeholder="Enter details" required>{{table.details}}</textarea>
                </div>
                <h6 class="m-2"><sup><a href="/edit/{{table.id}}">Edit Class</a></sup></h6>
              </div>
            </form>

            <h2 class="m-4">Class Students</h2>
            <div class="card-body">
              <table class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>Name</th>
                  <th>Contact</th>
                  <th>Country</th>
                  <th>Fee</th>
                  <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                  {% for student in sobj.query.filter_by(course_id=table.id).all() %}
                <tr>
                  <td>{{student.name}}</td>
                  <td>{{student.contact}}</td>
                  <td>{{student.country}}</td>
                  <td>Rs. {{student.fee}} {{student.fee}} {% if student.isFeePaid %}<span class="badge badge-success">[Received]</span>{% else %}<span class="badge badge-danger">[Unreceived]</span>{% endif %}</td>
                  <td>
                      <a href="/view/{{student.id}}" class="btn btn-primary btn-sm"><i class="fas fa-eye"></i></a>
                      <a href="/edit/{{student.id}}" class="btn btn-success btn-sm"><i class="fas fa-edit"></i></a>
                      {% if not student.isFeePaid %}
                      <a href="/toggle_fee/{{student.id}}?c" class="btn btn-warning btn-sm"><i class="fas fa-inbox"></i> Mark Fee Received</a>
                      {% else %}
                      <a href="/toggle_fee/{{student.id}}?c" class="btn btn-secondary btn-sm"><i class="fas fa-inbox"></i> Mark Fee Unreceived</a>
                      {% endif %}
                  </td>
                </tr>
                {% endfor %}
                </tfoot>
              </table>
            </div>
            {% elif table_index == 1 %}
            <form autocomplete="off">
                <div class="card-body">
                {% if table.isFeePaid %}<span class="badge badge-success">[Fee Received]</span>{% else %}<span class="badge badge-danger">[Fee Unreceived]</span>{% endif %}
                  <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" name="name" placeholder="Enter name" value="{{table.name}}" readonly  required>
                  </div>
                  <div class="form-group">
                      <label>Contact Number</label>
                      <input type="text" class="form-control" name="contact" placeholder="Enter contact number" value="{{table.contact}}" readonly required>
                  </div>
                  <div class="form-group">
                    <label>Contact Nickname*</label>
                    <input type="text" class="form-control" name="contact-nickname" placeholder="Enter contact nickname"
                      value="{{table.contact_nickname}}" readonly required>
                  </div>
                  <div class="form-group">
                      <label>Country</label>
                      <select class="form-control select2 select2-danger" name="country" readonly data-dropdown-css-class="select2-danger">
                        <option selected="selected">{{table.country}}</option>
                      </select>
                  </div>
                  <div class="form-group">
                      <label>City</label>
                      <input type="text" class="form-control" name="city" value="{{table.city}}" readonly placeholder="Enter city name" required>
                  </div>
                  <div class="form-group">
                      <label>Address</label>
                      <textarea class="form-control" readonly name="address" style="height:100px;min-height: 100px;max-height: 150px;" placeholder="Enter address" required>{{table.address}}</textarea>
                  </div>
                  <div class="form-group">
                      <label>Join Date</label>
                      <input type="date" class="form-control" name="date-joined" placeholder="Enter date joined" value="{{table.join_date}}" readonly required>
                  </div>
                  <div class="form-group">
                      <label>Birth Date</label>
                      <input type="date" class="form-control" name="date-born" placeholder="Enter birth date" value="{{table.birth_date}}" readonly required>
                  </div>
                  <div class="form-group">
                      <label>Class</label>
                      <select class="form-control select2 select2-danger" name="course" data-dropdown-css-class="select2-danger" readonly>
                        <option selected="selected" value="{{table.course_id}}">{{cobj.query.get_or_404(table.course_id).name}}</option>
                      </select>
                      <h6 class="m-2"><sup><a href="/view/{{table.course_id}}">View Class</a></sup></h6>
                  </div>
                  <div class="form-group">
                    <label>Teacher</label>
                    <input type="text" class="form-control" placeholder="Enter teacher" value="{{tobj.query.get_or_404(cobj.query.get_or_404(table.course_id).teacher_id).name}}" readonly required>
                    <h6 class="m-2"><sup><a href="/view/{{tobj.query.get_or_404(cobj.query.get_or_404(table.course_id).teacher_id).id}}">View Teacher</a></sup></h6>
                </div>
                  <div class="form-group">
                      <label>Fee</label>
                      <input type="number" class="form-control" name="fee" placeholder="Enter fee" min="0" value="{{table.fee}}" readonly required>
                  </div>
                  <div class="form-group">
                    <label>Fee Currency*</label>
                    <select class="form-control select2 select2-danger" aria-readonly="true" readonly name="currency">
                    {% for k,v in currency.items() %}
                    {% if k == table.currency %}
                    <option selected="selected" value="{{k}}">{{v}}</option>
                    {% endif %}
                    {% endfor %}
                    </select>
                  </div>
                  <div class="form-group">
                      <label>Payment Details</label>
                      <textarea class="form-control" name="payment-details" style="height:100px;min-height: 100px;max-height: 150px;" placeholder="Enter payment details" readonly required>{{table.payment_details}}</textarea>
                  </div>
                  <div class="form-group">
                    <label>Timing Details*</label>
                    <textarea class="form-control" name="timing" style="height:100px;min-height: 100px;max-height: 150px;"
                      placeholder="Enter timing details. e.g. 5:00 pm every thursday and friday" readonly required>{{table.timing}}</textarea>
                  </div>
                  <h6 class="m-2"><sup><a href="/edit/{{table.id}}">Edit Student</a></sup></h6>
                </div>
                
              </form>
              
            {% else %}
            <form autocomplete="off">
                <div class="card-body">
                  {% if table.isSalaryPaid %}<span class="badge badge-success">[Salary Paid]</span>{% else %}<span class="badge badge-danger">[Salary Unpaid]</span>{% endif %}
                  <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" name="name" placeholder="Enter name" value="{{table.name}}" readonly required>
                  </div>
                  <div class="form-group">
                    <label>Contact Nickname*</label>
                    <input type="text" class="form-control" name="contact-nickname" placeholder="Enter contact nickname" value="{{table.contact_nickname}}" readonly required>
                  </div>
                  <div class="form-group">
                      <label>Contact Number</label>
                      <input type="text" class="form-control" name="contact" placeholder="Enter contact number" value="{{table.contact}}" readonly required>
                  </div>
                  <div class="form-group">
                      <label>Country</label>
                      <select class="form-control select2 select2-danger" name="country" readonly data-dropdown-css-class="select2-danger">
                        <option selected="selected">{{table.country}}</option>
                      </select>
                  </div>
                  <div class="form-group">
                      <label>City</label>
                      <input type="text" class="form-control" name="city" value="{{table.city}}" readonly placeholder="Enter city name" required>
                  </div>
                  <div class="form-group">
                      <label>Address</label>
                      <textarea class="form-control" name="address" readonly style="height:100px;min-height: 100px;max-height: 150px;" placeholder="Enter address" required>{{table.address}}</textarea>
                  </div>
                  <div class="form-group">
                    <label>Teachable Language/s*</label>
                    <input class="form-control" name="languages" placeholder="Enter language/s they can teach in" value="{{table.languages}}" readonly required>
                  </div>
                  <div class="form-group">
                      <label>Qualifications</label>
                      <textarea class="form-control" name="qualifications" readonly style="height:100px;min-height: 100px;max-height: 150px;" placeholder="Enter qualification" required>{{table.qualification}}</textarea>
                  </div>
                  <div class="form-group">
                      <label>CNIC</label>
                      <input type="text" class="form-control" name="cnic" value="{{table.cnic_number}}" readonly placeholder="Enter cnic" required>
                  </div>
                  <div class="form-group">
                      <label>Join Date</label>
                      <input type="date" class="form-control" name="date-joined" value="{{table.join_date}}" readonly placeholder="Enter date joined" required>
                  </div>
                  <div class="form-group">
                      <label>Salary</label>
                      <input type="number" class="form-control" name="salary" value="{{table.salary}}" readonly placeholder="Enter salary" min="0" required>
                  </div>
                  <div class="form-group">
                      <label>Payment Details</label>
                      <textarea class="form-control" name="payment-details" readonly style="height:100px;min-height: 100px;max-height: 150px;" placeholder="Enter payment details" required>{{table.account_of_payment}}</textarea>
                  </div>
                  <h6 class="m-2"><sup><a href="/edit/{{table.id}}">Edit Teacher</a></sup></h6>
                </div>
              </form>
              {% endif %}
          </div>
        </section>

{% endblock %}